body {
    align-content: center;
}

.button-container {
    margin: 0px auto;
}

.gif-container {
    margin: 10px auto;
    width: 80%
}

img {
    width: 100%
}

.list {
    width: 33%;
    display: inline-block;
}

.animals {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.form-container {
    margin: 10px auto;
}

.form1 {
    text-align: center;
    color: grey;
}

.form2 {
    margin: 10px 0px 0px 15px;
}

.rating {
    width: 25%;
    margin: 10px auto;
}